@font-face {
  font-family: 'InstrumentSerif-Regular';
  src: url(InstrumentSerif-Regular.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo_do_site: #00451F;
  --cor_do_texto_do_papel: #000;
  --button: rgb(81, 156, 231);
}

body {
  background-color: var(--fundo_do_site);
  font-family: Arial, Helvetica, sans-serif;
  color: #000;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navegation {
  text-align: center;
  padding: 8px;
  background-image: url(img/fita_zebrada.png);
  background-position: center;
  background-size: cover;
}

#navegation button {
  padding: 4px;
  margin-left: 13px;
  background-image: linear-gradient(to top, rgb(185, 219, 255), rgb(46, 112, 177));
  transition: 0.4s;
}

#navegation button:hover {
  background-image: linear-gradient(to bottom, rgb(185, 219, 255), rgb(46, 112, 177));
}

#navegation a {
  text-shadow: 0px 2px 3px black;
  margin: 25px;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  color: #fff;
  transition: 0.4s;
}

#navegation a:hover {
  text-shadow: 0px 2px 3px white;
  color: #000;
  transition: 0.4s;
}

#navegation abbr {
  text-decoration: none;
}

#paper {
  background-color: white;
  border-radius: 8px;
  border: 3px solid black;
  padding: 15px;
  margin: 25px;

  flex: 1;
}

#ball_brasil {
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 25px;
  transition: 2s;
}

#ball_brasil:hover {
  content: url(img/meu_brasilzinho!.png);
  height: 60px;
  transform: rotate(360deg);
  transition: 2s;
}

footer {
  margin-top: 25px;
  padding: 10px;
	background: #5269A0 url("footer.png") no-repeat;
  font-family: 'InstrumentSerif-Regular';
	background-size: 100% auto;
	color: #fff;
  text-align: center;
  font-size: 25px;
	width: 100%;
}

@media screen and (max-width: 600px) {
  #navegation button {
    margin: 8px;
  }

  #paper {
    margin: 0px;
    border-radius: 0px;
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
}